.content{
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.hidden {
  opacity: 0.4;
  pointer-events: none;
}
