/* You can add global styles to this file, and also import other style files */

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
button{
    margin: 1rem auto !important;
    background-color:  #383838 !important;
}

.mat-dialog-container {
    width: 50vw !important;
    height: 100%;
}
.mat-paginator-icon{
  color: white;
}